body{top: 0px;left: 0px;margin:0 !important;
	font-family:"Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Hiragino Kaku Gothic Pro", Meiryo, "Malgun Gothic", sans-serif;}
input{
	color: inherit;
    margin: 0;
    line-height: normal;
}





.body{background-color: #f5f5f5;}
.header{background-color: #ffffff;border: 1px solid #ddd;height: 38px;padding: 14px 15px 12px;}
.header-text{font-size:20px;color: #e06a8f}
.table{padding: 15px;}
.table-input{
    border-radius: 6px;
    margin-bottom: 10px;
    background: #fff;
    width: 100%;
    border: 1px solid #ddd;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    box-sizing: border-box;
}
.table-input input{
	border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 10px;
    border: 0;
    height: 100%;
}
.line-br{
    width: 100%;
    height: 50px;
    text-align: center;
}
.confirm{
	width: 100%;
}
.confirm input{
	background-color:#ff699c;
    color: #fff;
    display: block;
    height: auto !important;
    border: 2px solid #ffffff;
    text-align: center;
    box-sizing: border-box;
    width: 100% !important;
    border-radius: 15px;
    padding: 5px;
    margin:0 !important;
    margin-bottom: 10px;
    font: inherit;
}
.tittle{font-size: 20px;}
.first-kawai{
    font-size: 15px;
  width: 100%;
  border: 2px solid #ff699c;
  border-radius: 10px;
}
.first-kawai-h{
  font-weight: 900;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  color: #ffffff;
  background-color: #ff699c;
  width: 98%;
  margin:0 auto;
  border: 2px solid #ffffff;
  border-radius: 10px;
}
.first-kawai-t{
  width: 98%;
  margin:0 auto;
}