@charset "UTF-8";
/* reset开始 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}
body {
    -webkit-user-select:none;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    line-height: 1;
    background: transparent;
    font-size: 24px;
    font-family: "ヒラギノ丸ゴ Pro W4", "Hiragino maru Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO","Verdana","Osaka",sans-serif;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
}
b, strong {
    font-weight: bold;
}
/* reset完毕 */
/* float */
.fl {
    float: left;
}
.fr {
    float: right;
}
/* end-float */
/* clearfix */
.clearfix {
    clear: both;
}
.row {
    width: 100%;
    margin-bottom: 12px;
}
/* end-clearfix */
/* btngroup */
.btngroup {
    float: left;
    width: 32%;
    margin-right: 1.5%;
}
/* end-btngroup */
/* button */
.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 2px solid transparent;
    border-radius: 20px;
    width: 100%;
    height: 62px;
    font-size: 32px;
    line-height: 62px;
}
.btn-primary {
    color: #fff;
    background-color: #fc75a2;
    border-color: #ffffff;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}
.btn-block {
    display: block;
}
/* end-button */
/* alert */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
/* end-alert */
/* contentbox */
.contentbox {
    width: 100%;
    position: relative;
}
/* end-contentbox */
/* tab */
.lltab {
    position: absolute;
    height: 62px;
    left: 4px;
    z-index: 100;
    width: 99%;
}
.lltab li.on {
    border: 2px solid #828282;
    border-bottom: none;
}
.lltab li > .bg1 {
    position: absolute;
    top: -3px;
    left: -3px;
    z-index: 99;
    width: 21px;
    height: 21px;
    background: #fff url("/resources/images/tab2_off_bg.png");
}
.lltab li.on > .bg1 {
    background: #fff url("/resources/images/tab2_on_bg.png");
}
.lltab li > .bg2 {
    position: relative;
    top: 2px;
    margin: 0 auto;
    z-index: 98;
    width: 98%;
    height: 56px;
    font-size: 32px;
    line-height: 56px;
    background-color: #fed0e0;
}
.lltab li.on > .bg2 {
    background-color: #fc6399;
}
.lltab li {
    position: relative;
    background-color: #fffffa;
    border: 2px solid #d9d9d9;
    border-bottom: none;
    width: 31.2%;
    height: 62px;
    text-align: center;
    float: left;
    color: #fff;
    margin-right: 1.5%;
}
.lltab a {
    display: block;
    color: #fff;
}
.lltab li.on {
    background-color: #ffffee;
}
/* end-tab */
/* contantbox */
.news-list-bg {
    position: absolute;
    top: 62px;
    z-index: 90;
    background-color: #fff;
    border: 2px solid #828282;
    width: 99%;
    border-top: 2px solid #888;
    padding-top: 20px;
}
.news-list-ul {
    width: 98%;
    margin: 0 auto;
}
.news-list-href {
    display: block;
}
.news-list-title {
    position: relative;
    background-color: #fff;
    border: 1px solid #fe6698;
    height: 62px;
    color: #fff;
}
.news-list-title > .bg1 {
    position: absolute;
    top: -1px;
    left: -1px;
    background: #fff url("/resources/images/news_title.png");
    width: 21px;
    height: 21px;
    z-index: 92;
}
.news-list-title > .bg2 {
    position: relative;
    top: 5px;
    margin: 0 auto;
    padding-left: 20px;
    background-color: #fe6698;
    width: 96.5%;
    height: 52px;
    font-size: 34px;
    line-height: 52px;
    z-index: 91;
}
.news-list-content {
    background-color: #ffc5d9;
    padding: 20px;
    font-size: 28px;
    margin-bottom: 20px;
}
.news-list-content > p {
    line-height: 32px;
}
.news-list-content p.detail {
    color: #f00;
}
/* end-contantbox */
/* newsdetail */
.news-detail-bg {
    position: absolute;
    top: 62px;
    z-index: 90;
    background-color: #fff;
    border: 2px solid #828282;
    border-top: 0;
    width: 99%;
}
.news-detail-title {
    position: relative;
    background-color: #ffffee;
    border: 2px solid #828282;
    border-bottom: 0;
    width: 99%;
    height: 62px;
    color: #fff;
}
.news-detail-title > .bg1 {
    position: absolute;
    top: -2px;
    left: -2px;
    background: #fff url("/resources/images/bg01_bg.png");
    width: 20px;
    height: 20px;
    z-index: 92;
}
.news-detail-title > .bg2 {
    position: relative;
    top: 3px;
    margin: 0 auto;
    background-color: #fe6698;
    width: 99.5%;
    height: 52px;
    font-size: 34px;
    line-height: 52px;
    z-index: 91;
}
.news-detail-title > .bg2 span {
    position: absolute;
    left: 100px;
}
.news-detail-title .back {
    position: absolute;
    top: 4px;
    left: 20px;
    background: transparent url("/resources/images/com_button_01.png");
    width: 71px;
    height: 47px;
}
.news-detail-title .back:hover {
    background: transparent url("/resources/images/com_button_02se.png");
}
.news-detail-content {
    background-color: #fff;
    padding: 20px;
    font-size: 28px;
    margin-bottom: 20px;
}
/* end-newsdetail */
/* settingslist */
.settings-title {
    position: relative;
    background-color: #ffffee;
    border: 2px solid #828282;
    border-bottom: 0;
    width: 99%;
    height: 62px;
    color: #fff;
}
.settings-title > .bg1 {
    position: absolute;
    top: -2px;
    left: -2px;
    background: #fff url("/resources/images/bg01_bg.png");
    width: 20px;
    height: 20px;
    z-index: 92;
}
.settings-title > .bg2 {
    position: relative;
    top: 3px;
    margin: 0 auto;
    background-color: #fe6698;
    width: 99.5%;
    height: 52px;
    font-size: 34px;
    line-height: 52px;
    z-index: 91;
}
.settings-title > .bg2 span {
    position: absolute;
    left: 100px;
}
.settings-title .back {
    position: absolute;
    top: 4px;
    left: 20px;
    background: transparent url("/resources/images/com_button_01.png");
    width: 71px;
    height: 47px;
}
.settings-title .back:hover {
    background: transparent url("/resources/images/com_button_02se.png");
}
.settings-list-bg {
    position: absolute;
    top: 62px;
    z-index: 90;
    background-color: #fff;
    border: 2px solid #828282;
    border-top: 0;
    width: 99%;
    padding-top: 20px;
}
.settings-list-ul {
    width: 98%;
    margin: 0 auto;
}
.settings-list-content {
    background-color: #ffc5d9;
    padding: 20px;
    font-size: 28px;
    margin-bottom: 20px;
}
.settings-list-content > p {
    line-height: 32px;
}
.settings-list-href {
    display: block;
}
.settings-list-title {
    position: relative;
    background-color: #fff;
    border: 1px solid #fe6698;
    height: 62px;
    color: #fff;
}
.settings-list-title > .bg1 {
    position: absolute;
    top: -1px;
    left: -1px;
    background: #fff url("/resources/images/news_title.png");
    width: 21px;
    height: 21px;
    z-index: 92;
}
.settings-list-title > .bg2 {
    position: relative;
    top: 5px;
    margin: 0 auto;
    padding-left: 20px;
    background-color: #fe6698;
    width: 96.5%;
    height: 52px;
    font-size: 34px;
    line-height: 52px;
    z-index: 91;
}
.settings-list-content iframe {
    width: 100%;
    height: auto;
}
/* end-settingslist */